
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="nav navbar-header">
        <button class="btn btn-primary navbar-btn" name="about" id="about">О нас</button>
        <button class="btn btn-primary navbar-btn" name="contact" id="contact">Контакты</button>
        <button class="btn btn-primary navbar-btn" name="litra" id="litra">Литература</button>
        <a class="navbar-brand" href="#">Garendat<a>
      </div>
        <div class="btn btn-group container-fuild">
        <button type="button" class="btn btn-secondary btn-day" id="two days ago">Позавчера</button>
        <button type="button" class="btn btn-secondary btn-day" id="yesterday">Вчера</button>
        <button type="button" class="btn btn-secondary btn-day" id="today">Сегодня</button>
        </div>
    </nav>
  <br><br>
