{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="btn btn-group container-fuild">
    <button class="btn btn-default" name="DSHBTC" id="DSHBTC">DSHBTC</button>
    <button class="btn btn-default" name="EMCBTC" id="EMCBTC">EMCBTC</button>
    <button class="btn btn-default" name="BTCUSD" id="BTCUSD">BTCUSD</button>
    <button class="btn btn-default" name="LTCUSD" id="LTCUSD">LTCUSD</button>
    <button class="btn btn-default" name="EURUSD" id="EURUSD">EURUSD</button>
    <button class="btn btn-default" name="GBPUSD" id="GBPUSD">GBPUSD</button>
    <button class="btn btn-default" name="USDCNH" id="USDCNH">USDCNH</button>
    <button class="btn btn-default" name="LTCRUB" id="LTCRUB">LTCRUB</button>
    <button class="btn btn-default" name="EURJPY" id="EURJPY">EURJPY</button>
    <button class="btn btn-default" name="USDJPY" id="USDJPY">USDJPY</button>
    <button class="btn btn-default" name="USDCHF" id="USDCHF">USDCHF</button>
</div>


<!--<div class="" style="position: relative; height:35vh; width:70vw">-->
    <h3>К сожалению произошла ошибка, попробуйте повторить еще раз</h3>
    <p><a href="/">Обновить страницу</a></p>

<!--</div>-->


{% endblock %}